@media (min-width: 768px) {
  .Results-Page {
    min-height:calc(100vh - 324px);
  }

  .results-live-main {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .results-live-header{
    font-size: 0.8rem;
  }

  .results-live-header h2{
    font-size: 1rem;
  }

  .results-flight-selector{
    padding: 0px 0px 0px 10px;
    height: 1.4rem;
    margin: 0.83em 0px 0.83em 0px;
  }

  .ResultsTable {
    font-size: 1rem;
  }

  .ResultsTable th {
    font-size: .8rem;
    font-weight: 200;
  }

  .name_cell {
    min-width: 160px;
  }

  .default_cell {
    min-width: 50px;
  }

}

@media (max-width: 767px) {
  .Results-Page {
    min-height:calc(100vh - 199px);
  }
  .results-live-main {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .results-live-header{
    height: 1.4rem;
    line-height: 1.4rem;
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .results-live-header h2{
    font-size: 1rem;
    margin: 0px;
  }

  .results-flight-selector{
    height: 1.4rem;
    padding: 0px 0px 0px 10px;
    min-width: 180px;
  }

  .ResultsTable {
    font-size: 0.8rem;
  }

  .ResultsTable th {
    font-size: .8rem;
    font-weight: 200;
  }


  .name_cell {
    min-width: 160px;
  }

  .default_cell {
    min-width: 45px;
  }

}

.Results-Page {
  max-width: 1540px;
  margin-left: auto;
  margin-right: auto;
}

.results-live-main {
  overflow: auto;
}

.results-live-header{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: centre;
}

.results-flight-selector{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  right: 0;
}

.ResultsTable {
  font-family: Roboto, sans-serif;
}

.cell-goodlift {
  background-color: #0add3b;
}

.cell-badlift {
  background-color: #e00d1e;
}

.meet-details{
  display: flex;
  flex: 1;
  min-height: 10px;
  min-width: 350px;
}

.meet-details h2 {
  padding-right: 10px;
}