.Results-Page {
  min-height:calc(100vh - 308px);
  max-width: 1540px;
  margin-left: auto;
  margin-right: auto;
}

.results-live-main {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: auto;
}

.cell-goodlift {
  background-color: #0add3b;
}

.cell-badlift {
  background-color: #e00d1e;
}

.results-live-header{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-self: flex-start;
  font-size: 1rem;
}

.results-live-header h2{
  font-size: 1rem;
}

.results-flight-selector{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-width: 30%;
  position: relative;
  right: 0;
  padding: 0px 0px 0px 10px;
}

.meet-details{
  width: 100%;
}

.ResultsTable {
  font-size: 1rem;
  font-family: Roboto, sans-serif;
}

.ResultsTable th {
  font-size: .8rem;
  font-weight: 200;
}

.name_cell {
  min-width: 160px;
}

.default_cell {
  min-width: 50px;
}