@media (max-width: 767px) {
  .Records-Page-Description {
    margin-bottom: 20px;
    font-size: 0.8rem;
  }

  .Records-Claim {
    font-size: 1.2rem;
    font-weight: 200;
    margin-bottom: 20px;
  }

  .Records-Type-Switch {
    height: 1.2rem;
    font-size: 0.8rem;
  }

  .Records-Page {
    min-height: calc(100vh - 202px);
  }

  .name_cell{
    width: 200px;
  }
  .location_cell{
    width: 300px;
  }

  .Records-Type-Switch select {
    margin-left: 10px;
  }

}

@media (min-width: 768px) {
  .Records-Page-Description {
    margin-bottom: 40px;
  }

  .Records-Claim {
    font-size: 33px;
    font-weight: 400;
    margin-bottom: 40px;
  }

  .Records-Page {
    min-height: calc(100vh - 304px);
  }

  .name_cell{
    width: 300px;
  }
  .location_cell{
    width: 400px;
  }

}

.Records-Page-Description {
    border-bottom: 1px solid #333333;
  }

.Records-Page {
  text-align: center;
  max-width: 1540px;
  margin-left: auto;
  margin-right: auto;

}

.Records-Claim {
  font-family: "Montserrat", Sans-serif;
  color: #333333;
}


